html, body {
  overflow-x: hidden;
  background: #f1f6f8 url("./images/bg.png") fixed center;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  min-width:320px;
  letter-spacing: 0.01em;
}

/**
 * Damn mobile browsers.
 */
video::-webkit-media-controls {
  display: none;
}

body div.container-fluid {
  padding: 0;
}

.row.our-patreon, .row.our-patreon div {
  padding-left: 0;
  padding-right: 0;
}

.row {
  padding-left: 15px;
  padding-right: 15px;
}

.our-patreon div.patreon-info {
  padding-left: 25px;
  padding-right: 25px;
}

.our-patreon .patreon-info {
  
}

h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #f1f6f8;
  text-shadow: 1px 1px 0px #6a9db7;
  margin-bottom: 20px;
  margin-top: 0;
}

#contact-us h2, #our-patreon h2 {
  margin-top: 30px;
}
.sticky {
  position: fixed;
  top: 0;
}
img.placeholder { border: solid 1px #000; }

.hexagon.who {
  background-image: url(./images/who.png);
}

.hexagon.why {
  background-image: url(./images/why.png);
}

.hexagon.how {
  background-image: url(./images/how.png);
}

.hexagon {
  position: relative;
  width: 200px; 
  height: 115.47px;
  margin: 87.74px auto;
  background-size: auto 230.9401px;
  background-position: center;
}

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 141.42px;
  height: 141.42px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 29.29px;
}

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 200.0000px;
  height: 115.47005383792516px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-57.7350px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-57.7350px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-57.7350px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
  left: 0;
}

.hexTop {
  top: -70.7107px;
}

.hexTop:after {
  background-position: center top;
}

.hexBottom {
  bottom: -70.7107px;
}

.hexBottom:after {
  background-position: center bottom;
}

.hexagon:after {
  content: "";
  position: absolute;
  top: 0.0000px;
  left: 0;
  width: 200.0000px;
  height: 115.4701px;
  z-index: 2;
  background: inherit;
}

.fill.no-video {
  background: url(./video/bg.gif) center center no-repeat fixed;
  background-size: cover;
}

.fill {
  min-height: 100% !important;
  height: 100vh;
  max-height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.fill-video {
  object-fit: cover;
  min-height: 100%;
  max-height: 100%;
  min-width: 100%;
  max-width: 100%;
}

.fill-cover {
  width: 100%;
  height: 100vh;
  display: flex;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAAEFsT2yAAAACXBIWXMAAAsSAAALEgHS3X78AAAAFElEQVR4nGNhYGBwYIET////ZwAAETIDym2lzEcAAAAASUVORK5CYII=);
  background-size: 2px 2px;
  background-repeat: repeat;
  background-position: 0 0;
  position: absolute;
  top: 0;
  z-index: 1;
}

.fill-cover h1 {
  width: 100%;
  color: #fff;
  font-size: 4em;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  display: block;
}

span.obvious-scroll {
  display: block;
  bottom: 45px;
  color: #FFF;
  position: absolute;
  height: 15px;
  margin: auto;
  width: 100%;
  text-align: center;
}

span.obvious-scroll div {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.2);
  width:35px;
  height:35px;
  line-height: 35px;
  border-radius: 100%;
  margin: auto;
}

span.obvious-scroll a {
  text-decoration: none;
}

span.obvious-scroll a:hover {
  text-decoration: bold;
}

span.obvious-scroll a:hover div {
  background: rgba(255, 255, 255, 0.5);
}

#subscribe-form {

}

.fill-cover span.sub-info {
  display: block;
  font-size: .2em;
  color: rgba(255, 255, 255, 0.7);
}
#subscribe-form input:active {
  border: none;
  background: none;
}
#subscribe-form input {
  border: none;
  background: none;
  border: 4px solid #FFF;
  height: 80px;
  max-height: 80px;
  min-height: 80px;
  font-size: .4em;
}

#subscribe-form input::-webkit-input-placeholder {
    color: #FFF;
}
#subscribe-form input:-moz-placeholder {
    /* FF 4-18 */
    color: #FFF;
}
#subscribe-form input::-moz-placeholder {
    /* FF 19+ */
    color: #FFF;
}
#subscribe-form input:-ms-input-placeholder {
    /* IE 10+ */
    color: #FFF;
}

#subscribe-form input.email {
  max-width: 60%;
  color: #FFF;
  padding-left: .2em;
}

#subscribe-form input.submit {
  max-width: 30%;
  text-transform: uppercase;
  padding-left: .2em;
  padding-right: .2em;
  font-weight: bold;
}
#subscribe-form input.submit:hover {
  background: rgba(255, 255, 255,0.2);
}

.dark-text, .dark-text h2 {
  color: #31434c;
  text-shadow: none;
}

.logo {
  max-height: 65px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.menu-icon {
  text-align: right;
  padding-top: 8px;
  font-size: 3em;
  color: rgba(0, 0, 0, 1);
}

a.menu-icon:focus, a.menu-icon:hover {
  text-decoration: none;
  color: rgb(14,32,49,0.8);
}

.nav-container {
  background: rgba(0, 0, 0, 0.9);
  padding: 0;
  height: calc(100vh - 65px);
}

nav a {
  font-size: 1.3em;
  color: #FFF;
  padding-left: 1em;
}

nav a i {
  padding-right: 1.3em;
}

nav a:hover, nav a:active, nav ul li:hover a {
  text-decoration: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.9);
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  padding: 1em;
  background: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

nav ul li:nth-child(odd) {
  background: rgba(0, 0, 0, 0.8);
}

nav ul li:hover {
  background: rgba(0, 0, 0, 0.3);
}



.logo-header.jumbotron {
  padding: 0;
  margin-bottom: 0;
  background: #f1f6f8;
  position: absolute;
  top: 0;
  margin: 0;
  z-index: 10;
  height: 65px;
  min-height: 65px;
  width: 100%;
}

.shadow {
  -moz-box-shadow: 1px 0px 20px 0px rgba(0,0,0,0.1);
  box-shadow: 1px 0px 20px 0px rgba(0,0,0,0.1);
}

.social-media-block {
  position: fixed;
  left:0;
  top:5%;;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 0px 3px 3px 0px;
  z-index: 9999;
}
.social-media-block a.fa {
  display: block;
  padding-top: 5px;
  color: #FFF;
  font-size: 1.5em;
}
.social-media-block a.fa:hover,.social-media-block a.fa:active {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
.social-media-block a:first-child {
  padding-top: 0px
}


.video-header {
  padding: 0;
  max-height: 70vh;
  overflow:hidden;
  background: rgba(0, 0, 0, 0.0);
}
.embed-responsive iframe {
  max-height: 70vh !important;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.our-plan, .our-sustainability, .our-sponsors, .our-patreon {
  background: #628698;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.who-why-how {
  padding: 30px 15px;
  text-align: center;
}

#our-support-patreon {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

#our-support-patreon img {
  width: 90%;
  max-width: 750px;
}

.jumbotron.our-map {
  padding: 0;
  margin-bottom: 0;
  height: 350px;
  overflow: hidden;
  background: none;
  background: url(./images/map.png) center center no-repeat fixed;
  background-size: cover;
}

.our-affect {
  padding: 50px 0 40px 0;
  background: #F1F3E2 url(./images/grass.png) center center no-repeat fixed;
  background-size: cover;
}
.our-affect .affect-item {
  text-align: center;
  padding: 10px 0;
  color: rgba(0, 0, 0, 0.5);
}

.our-affect .affect-item span.specific-item {
  color: #FFF;
  display: block;
  font-size: 2em;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.2);
  width: 150px;
  height: 150px;
  border-radius: 100%;
  padding: 8px;
  margin: auto;
  line-height: 134px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.our-affect .affect-item p {
  padding-top: 5px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 5px;
}

.our-sponsors {
  margin-bottom: 30px;
}

.our-sponsors .big-sponsor {
  text-align: center;
}
.our-sponsors .big-sponsor img {
  max-width: 90%;
}

.contact-us .form-group {
  margin-bottom: 0;
}

.contact-us form .form-control {
  border-radius: 0;
  border-bottom: none;
}

.contact-us form .form-group:first-child .form-control {
  border-radius: 3px 3px 0 0; 
}

.contact-us form .btn {
  border-radius: 0 0 3px 3px; 
}

.contact-us form textarea {
  resize: vertical;
}

.footer {
  margin-bottom: 30px;
}

.our-sponsors, .our-sustainability, .our-plan, .our-patreon {
  padding-top: 30px;
  padding-bottom: 30px;
}

.our-patreon {
  padding-top: 0px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .fill-cover span.sub-info {
    font-size: .2em;
  }
  .fill-cover h1 {
    font-size: 5em;
  }
  #subscribe-form input {
    font-size: .6em;
  }
  .logo-header.jumbotron {
    height: 65px;
    min-height: 65px;
  }
  .our-sponsors .big-sponsor img {
    max-width: 200px;
  }
  .our-plan p {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    text-align: justify;
    text-justify: inter-word;

  }
  .our-sustainability p, .our-patreon p {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    text-align: justify;
    text-justify: inter-word;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #our-patreon h2 {
    margin-top: 0;
  }
  .row.our-patreon, .row.our-patreon div {
    padding-left: 15px;
    padding-right: 15px;
  }
  .our-sponsors, .our-sustainability, .our-plan, .our-patreon {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .who-info {
    margin-left: 4.16666666%;
  }
  .social-media-block a.fa {
    font-size: 2em;
    padding-top: 8x;
  }
  .contact-us .form-group {
    margin-bottom: 10px;
  }

  .contact-us form .form-control {
    border-radius: 3px;
    border-bottom: 1px solid #ccc;
  }

  .contact-us form .form-group:first-child .form-control {
    border-radius: 3px; 
  }

  .contact-us form .btn {
    border-radius: 3px; 
  }

}
