<main>
    <div id="editor">
      <div class="editor-header">
        <div class="editor-ui">
          <div class="ui-button close"></div>
          <div class="ui-button minimize" id="minimize-button"></div>
          <div class="ui-button maximize" id="maximize-button"></div>
        </div>
        ~/About.json
      </div>
      <div class="editor-body">
        <pre>
# A quick rundown of current information
{
  about: """
  I'm Brandon Martinez a Sr. software engineer who specializes in ETL pipelines, system tools, and high availiblty services.  My favorite projects usually involve creating tools for other developers.  I have a passion for low level tech and efficiency.
  """,
  resume: "RESUME_LINK",
  contact: [
    "brandon@ibreak.systems"
  ],
  strong_skills: [
    "golang",
    "rust",
    "python",
    "linux",
    "bash",
    "offensive security"
  ],
  minor_skills: [
    "electronics engineering",
    "fusion 360"
  ]
}
        </pre>
        <div class="editor-scroll">
          <div class="editor-scroll-scrub"></div>
        </div>
      </div>
      <div class="editor-footer"></div>
    </div>
  </main>