<footer>
    <div>
      <h2>PROGRAMMING</h2>
      <ul>
        <li><a href="https://github.com/0x4445565a" target="_blank" rel="nofollow">GITHUB</a></li>
        <li><a href="https://www.codewars.com/users/0x4445565A" target="_blank" rel="nofollow">CODEWARS</a></li>
      </ul>
    </div>
    <div>
      <h2>EXTERNAL PROJECTS</h2>
      <ul>
        <li><a href="https://foursuits.co/roguesvillage" target="_blank" rel="nofollow">Rogues Village @ DEFCON</a></li>
      </ul>
    </div>
    <div>
      <h2>DOES ANYONE</h2>
      <ul>
        <li>Actually</li>
        <li>Ever Read</li>
        <li>The Footer</li>
      </ul>
    </div>
  </footer>