<nav>
    <div class="navbar">
      <div class="nav-container">
        <input
          class="checkbox"
          type="checkbox"
          name=""
          id="" />
        <div class="hamburger-lines">
          <span class="line line1"></span>
          <span class="line line2"></span>
          <span class="line line3"></span>
        </div>
        <div class="logo">
          <a href="/"><h1>DEV. HACKER. WEIRDO.</h1></a>
        </div>
        <div class="menu-items">
          <li>
            <a href="/">HOME</a>
          </li>
          <li>
            <a href="/projects">PROJECTS</a>
          </li>
          <li>
            <a href="/resume.pdf">RESUME</a>
          </li>
          <li>
            <a href="https://github.com/0x4445565a" target="_blank" rel="nofollow">GITHUB</a>
          </li>
          <li>
            <a href="https://www.codewars.com/users/0x4445565A" target="_blank" rel="nofollow">CODEWARS</a>
          </li>
          <li>
            <a href="#">LINKEDIN</a>
          </li>
        </div>
      </div>
    </div>
  </nav>