    html, body {
      font-family: 'Roboto', sans-serif;
      font-size:14px;
      height:100%;
      margin: 0px;
      padding: 0px;
      fill: currentColor;
    }
    pre {
      max-width: 100%;
      white-space: pre-wrap;
      font-family: 'Roboto Mono', monospace;
    }
    pre h3 {
      display: inline-block;
      margin: 0;
    }
    pre p {
      padding-left: 2em;
      margin: 0;
      padding-top: 0;
      padding-bottom: 0
    }
    a {
      text-decoration: none;
    }
    a:hover {
      text-decoration: bold;
      cursor: pointer;
    }
    md-toolbar .banner {
      width: 50px;
      height: 50px;
      margin-left: 5px;
      margin-right: 5px;
    }

    md-toolbar {
      padding-left: 1em;
    }

    md-list-item {
      max-height: 100px; /* Weird bug */
    }
    md-list-item > .md-button {
      width:100%;
      text-align:left !important;
    }

    #content  {
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 5px;
    }

    .avatar {
      position: relative;
      width: 128px;
      height: 128px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 50%;
      display: inline-block;
      overflow: hidden;
      margin: 0px;
      vertical-align: middle;
      zoom:0.70;
      transform: translateZ(0);
      -webkit-transform: scale(0.70);
      -moz-transform:scale(0.70);
    }
    .avatar svg {
      fill: #000;
    }
    .push {
      padding-left: 3em;
    }
    md-card {
      border-radius: 0 0 4px 4px;
    }
    md-card img.md-card-image {
      height: auto !important;
      border-radius: 4px 4px 0 0;
    }
    md-card span.project-tags {
      color: rgba(0, 0, 0, 0.5);
      font-size: .8em;
    }
    md-card .filler {
      min-height: 4.5em;
    }
    md-card-footer .md-button {
      width: 250px;
    }
    md-card h2 {
      text-shadow: 1px 1px 0px rgba(0,0,0,0.1);
      margin-bottom: 2px;
    }
    md-card hr {
      border: 0;
      height: 0;
      border-top: 1px solid rgba(0, 47, 42, 0.2);
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    .editor-header {
      background: #444;
      height: 35px;
      line-height: 35px;
      color: #FFF;
      font-weight: bold;
      text-align: center;
      position:relative;
      text-shadow: 1px 1px 0px rgba(0,0,0,0.4);
    }
    .editor-body {
      background: #272822;
      margin: 0;
      padding: 2em;
      padding-top: 1px;
      padding-bottom: 1em;
      color: rgb(200, 200, 200);
      border: #141511 1px solid;
      position: relative;
    }
    .editor-body h3 {
      color: #FFF;
    }
    .editor-body .editor-scroll {
      width: 15px;
      height: 100%;
      position: absolute;
      background: rgba(0, 0, 0, 0.3);
      top: 0;
      right: 0;
    }
    .editor-body .editor-scroll .editor-scroll-scrub {
      width: 11px;
      height: 80%;
      background: rgba(69, 69, 69, 0.8);
      margin-left: 2px;
      margin-top: 10px;
      border-radius: 11px
    }
    .editor-header .editor-ui {
      display: inline;
      position: absolute;
      left: 10px;
      top: 3px;
    }
    .editor-header .editor-ui .ui-button {
      width: 15px;
      height: 15px;
      border-radius: 100%;
      background: #C23824;
      display: inline-block;
      margin-left: 3px;
    }

    .editor-header .editor-ui .ui-button.close {
      background: rgba(194, 56, 36, 0.3);
    }
    .editor-header .editor-ui .ui-button.minimize {
      background: rgba(242, 198, 0, 0.3);
    }
    .editor-header .editor-ui .ui-button.maximize {
      background: rgba(26, 175, 93, 0.3);
    }
    .editor-footer {
      width: 100%;
      height: 10px;
      border-top: 1px solid #737373;
      background: #575757;
    }
  .dark-primary-color    { background: #455A64 !important; }
  .default-primary-color { background: #607D8B !important; }
  .light-primary-color   { background: #CFD8DC !important; }
  .text-primary-color    { color: #FFFFFF !important; }
  .accent-color          { background: #009688; }
  .primary-text-color    { color: #212121; }
  .secondary-text-color  { color: #757575; }
  .divider-color         { border-color: #BDBDBD; }