<md-card style="width: 300px;" class="light-primary-color" ng-repeat="project in nav.projects">
                <img ng-src="{{ project.image }}" class="md-card-image" alt="{{ project.linkTitle }}">
                <md-card-content>
                  <div class="filler">
                    <h2>{{ project.title }}</h2>
                    <span class="project-tags">
                      {{ project.tags }}
                    </span>
                  </div>
                  <hr>
                  <p>
                  {{ project.body }}
                  </p>
                </md-card-content>
                <md-card-footer layout-align="center">
                  <md-button href="{{ project.link }}"
                  title="{{ project.linkTitle }}"
                  class="md-raised dark-primary-color text-primary-color"
                  target="_blank">
                    >  Go To Project
                  </md-button>
                </md-card-footer>
              </md-card>