<md-toolbar layout="row" class="dark-primary-color text-primary-color" layout-align="center">
      <md-button
        class="menu"
        hide-gt-sm
        aria-label="Menu"
        ng-click="nav.toggleList()">
        <md-icon md-svg-icon="menu"></md-icon>
      </md-button>
      <a flex style="text-align: center; margin-top: 8px;" href="#/">
      <md-icon md-svg-icon="eye" class="banner"></md-icon>
      <md-icon md-svg-icon="break" class="banner"></md-icon>
      <md-icon md-svg-icon="systems" class="banner"></md-icon>
      </a>
    </md-toolbar>